# Application Settings
FLASK_APP=run.py
FLASK_ENV=production
FLASK_DEBUG=0
FLASK_HOST=0.0.0.0
FLASK_PORT=5050

# Database Settings
DB_USER=postgres
DB_PASSWORD=your-db-password
DB_HOST=db
DB_NAME=leads_db
SQLALCHEMY_DATABASE_URI=postgresql://postgres:your-db-password@db:5432/leads_db

# Security Settings
SECRET_KEY=your-secret-key
API_KEY=your-api-key

# Redis Settings
REDIS_URL=redis://redis:6379/0
